body, html {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Inter";
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

h1 {
    margin-left: 1rem;
}

#sudoku-grid-wrapper {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#sudoku-grid {
    background-color: rgb(255, 253,);
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, 1fr); 
    border: 0.3125rem solid rgb(212, 59, 59);
}

.cell {
  border: 0.0625rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.subgrid {
    border: 0.3125rem solid rgb(212, 59, 59);
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, 1fr); 
}

#input-box {
    height: 29.4rem;
    width: 3.33rem;
    margin-right: 5rem;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    border: 0.625rem solid rgb(212, 59, 59);
}

.input {
  border: 0.0625rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  
}


