body, html {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "arial";
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

h1 {
    margin-left: 1rem;
}

#main-wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem
}

#sudoku-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#sudoku-grid {
    background-color: rgb(255, 253,);
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, 1fr); 
    border: 0.3125rem solid rgb(212, 59, 59);
    border-radius: 0.4rem;
}

.cell {
    border: 0.0625rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.subgrid {
    border: 0.3125rem solid rgb(212, 59, 59);
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, 1fr); 
}

#input-box {
    height: 29.4rem;
    width: 3.33rem;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    border: 0.625rem solid rgb(212, 59, 59);
    border-radius: 0.4rem;
}

.input {
    border: 0.0625rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.input:hover {
    background: #FFF4E6;
}

.empty-cell {
    cursor: pointer;
}
.empty-cell:hover {
    background: #FFF4E6;
}

#submit-button {
    position: relative;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    border: 0.2rem solid rgb(255, 215, 0);
}

#submit-button:hover {
    background: rgb(255, 253, 208);
}


@media (max-width: 768px) {
    #main-wrapper {
        gap: 2rem;
    }

    #sudoku-grid-wrapper {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    #sudoku-grid {
        height: 90vw;
        width: 90vw;
        max-height: 30rem;
        max-width: 30rem;
        border: 0.25rem solid rgb(212, 59, 59);
        border-radius: 0.4rem;
    }

    .subgrid {
        border: 0.2rem solid rgb(212, 59, 59);
    }

    .cell {
        font-size: 1.5rem;
    }

    #input-box {
        height: 9vw;
        width: 89vw;
        max-height: 3.2rem;
        max-width: 29.5rem;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        border: 0.4rem solid rgb(212, 59, 59);
        border-radius: 0.4rem;
    }

    .input {
        font-size: 1.5rem;
    }
}


